<div class="b-menu">
    <ul class="b-menu__list">
        <li class="b-menu__item">
            <a href="javascript:void(0);" class="b-menu__link" js-menu>
                <span class="b-avatar b-avatar--header">
                    <avatar user="$ctrl.user"  size="40x40" alt="avatar" title="avatar" class-name="b-avatar__image b-avatar__image--header"></avatar>
                </span>

                <span class="b-menu__block-link"
                      ng-click="$ctrl.redirect()"
                      ng-if="$ctrl.user.is_designer"
                      locale="nav.portfolio">
                    <i class="icon-arrow"></i>
                </span>
                <span class="b-menu__block-link"
                      ng-click="$ctrl.redirect()"
                      ng-if="!$ctrl.user.is_designer"
                      locale="nav.profile">
                    <i class="icon-arrow"></i>
                </span>
            </a>
            <div class="b-drop-down b-drop-down--menu b-drop-down--top-arrow">
                <nav>
                    <ul class="b-actions-list">
                        <li class="b-actions-list__item">
                            <a href="http://archiparti.co/faqs/"
                               locale-attr="title"
                               locale-variable="nav.support"
                               class="b-actions-list__link"
                               target="_blank">
                                <i class="icon-support"></i>
                                <span locale="nav.support"></span>
                            </a>
                        </li>
                        <li class="b-actions-list__item">
                            <a href="/profile?block=basic" locale-title="nav.settings" class="b-actions-list__link">
                                <i class="icon-settings"></i>
                                <span locale="nav.settings"></span>
                            </a>
                        </li>
                        <li class="b-actions-list__item">
                            <a href="http://archiparti.co/blog/"
                               locale-title="nav.updates"
                               class="b-actions-list__link"
                               target="_blank">
                                <i class="icon-updates"></i>
                                <span locale="nav.updates"></span>
                            </a>
                        </li>
                        <li class="b-actions-list__item">
                            <a href="javascript:void(0);"
                                ng-click="$ctrl.logout()"
                                locale-attr="title"
                                locale-variable="auth.logout"
                                class="b-actions-list__link">
                                <i class="icon-logout"></i>
                                <span locale="auth.logout"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
        <header-dropdown></header-dropdown>
    </ul>
</div>
<div class="b-logo">
    <a href="/" class="b-logo__link">
        <img src="/images/inhtml/archiparti.svg" alt="Archiparti" title="Archiparti" class="b-logo__image" />
    </a>
</div>

<div class="b-languages">
    <div class="b-language" ng-repeat="link in $ctrl.linksService.links" style="margin-left: 5px; float: right;">
        <a ng-click="$ctrl.localeService.change(link.locale)"
            href="javascript:void(0);"
            class="b-language__link">
            <img ng-src="{{ link.preview }}" alt="language" title="language" class="b-language__image"/>
        </a>
    </div>
</div>