<a href="http://archiparti.co/faqs/" target="_blank" title="" class="b-question b-question--project-menu">
    <span class="b-question__content">?</span>
</a>
<div class="b-tooltip b-tooltip--big b-tooltip--bottom-arrow">
    <div class="b-tooltip__title" locale="help.title"></div>
    <div class="b-tooltip__text" locale="help.text"></div>
</div>
<div class="b-add">
    <a href="/project/create"
        locale-attr="title"
        locale-variable="help.launch"
        class="b-add__plus">+</a>
</div>