<aside class="b-aside b-aside--project-diary" style="min-width: 100%;">
    <div task-detail class="b-task-chat js-task-chat-on" ng-class="{'active': projectChatCtrl.ProjectTaskService.activeTask}" ng-style="{'webkit-transform': 'translateY(0)'}">
    <div class="b-info-task">
        <div class="b-info-task__icon js-info-task-icon" ng-class="{'active': projectChatCtrl.ProjectTaskService.activeTask}">
            <a href="javascript:void(0);" title="" class="b-look">
                    <i class="icon-look"></i>
                </a>
            </div>
            <div class="b-info-task__content js-info-task-cont" ng-class="{'active': projectChatCtrl.ProjectTaskService.activeTask}">
                <div class="b-info-task__top">
                    <div class="b-avatar b-avatar--info-task b-avatar--project">
                        <avatar user="projectChatCtrl.ProjectTaskService.activeTask.assigned" size="30x30" title="{{ projectChatCtrl.ProjectTaskService.activeTask.assigned.first_name }} {{ projectChatCtrl.ProjectTaskService.activeTask.assigned.last_name }}"
                        class-name="b-avatar__image b-avatar__image--info-task b-avatar__image--project">
                        </avatar>
                    </div>
                    <div class="b-info-task__date">
                        {{ projectChatCtrl.formatDate(projectChatCtrl.ProjectTaskService.activeTask.deadline) }}
                    </div>
                </div>

                <div class="b-info-task__status">
                    <div class="b-info-task__smile" ng-if="projectChatCtrl.canReview()">
                        <a href="javascript:void(0);" title="Approve" ng-click="projectChatCtrl.approve()" class="b-info-task__smile-link">
                            <i class="icon-smile"></i>
                        </a>
                        <a href="javascript:void(0);"
                           ng-click="projectChatCtrl.decline()"
                           ng-if="projectChatCtrl.canDecline()"
                           class="b-info-task__smile-link">
                            <i class="icon-review"></i>
                        </a>
                    </div>
                    <div class="b-info-task__name-task">{{ projectChatCtrl.ProjectTaskService.activeTask.name }}</div>
                </div>

                <div class="b-info-task__info">
                    <p ng-if="projectChatCtrl.ProjectTaskService.activeTask.reviews_limit_reached"
                        locale="project__task.reviews_limit_reached">
                    </p>
                    <p ng-if="!projectChatCtrl.ProjectTaskService.activeTask.reviews_limit_reached">
                        {{ projectChatCtrl.ProjectTaskService.activeTask.description }}
                    </p>
                </div>
                <div class="b-info-task__files">
                    <a href="javascript:void(0);" class="b-info-task__files-title js-files-block" ng-if="projectChatCtrl.ChatService.currentFiles.length" locale="chat/chat.all-files"></a>
                    <ul ng-if="projectChatCtrl.ChatService.currentFiles.length" class="b-file-list" files-list>
                        <li ng-repeat="file in projectChatCtrl.ChatService.currentFiles | limitTo: 4" class="b-file-item" ng-class="{'b-file-item--pdf':!file.is_image}">
                            <a ng-href="{{ file.is_image ? '' : '/chat/download/' + file.file }}" title="" data-tooltip="bottom-arrow-file" data-toggle="modal" data-target="{{ file.is_image ? '#gallery' : '' }}" data-index="{{ projectChatCtrl.ChatService.gallery.indexOf(file.file) }}" class="b-file-item__link js-icon-link">
                                <span ng-if="file.is_image" class="b-file-item__image-inner">
                                    <img ng-src="/chat/thumbnail/56x56/{{file.file}}" alt="" title="" class="b-file-item__image"/>
                                </span>
                                <span ng-if="!file.is_image" class="b-file-item__pdf-text b-file-item__pdf-text--pdf">
                                    .{{ file.extension }}
                                </span>
                                <div tooltip-position class="b-tooltip b-tooltip--bottom-arrow b-tooltip--file b-tooltip--mini bottom-arrow-file js-tooltip-cont">
                                    <div class="b-tooltip__text">{{ file.original_name }} {{ projectChatCtrl.formatDate(file.created_at) }}, <span locale="chat/chat.hk-time"></span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- chat -->
        <perfect-scrollbar infinite-scroll="projectChatCtrl.lastMessages()" infinite-scroll-disabled="projectChatCtrl.stopScrolling" infinite-scroll-inversed="true" class="b-comment js-scroll-block">
            <div ng-repeat="message in projectChatCtrl.messages" ng-class="{'b-comment-message--text-left': projectChatCtrl.user.id != message.user_id}" class="b-comment-message">
                <div ng-class="{'b-comment-message__content--text-left': projectChatCtrl.user.id != message.user_id}" class="b-comment-message__content">
                    <div class="b-comment-message__block">
                        <div class="b-comment-message__info">
                            <div ng-class="{'b-comment-message__description--text-left': projectChatCtrl.user.id != message.user_id}" class="b-comment-message__description">
                                <div class="b-comment-message__text">
                                    <span url-wrapper replacement="link">{{ projectChatCtrl.sanitize(message.text) }}</span>
                                    <ul ng-if="message.file.length" class="b-file-list b-file-list--comment">
                                        <li ng-repeat="file in message.file" class="b-file-item b-file-item--comment">
                                            <a ng-href="{{ file.is_image ? '' : '/chat/download/' + file.file }}" title="" data-tooltip="bottom-arrow-file" data-toggle="modal" data-target="{{file.is_image ? '#gallery' : '' }}" data-index="{{ projectChatCtrl.ChatService.gallery.indexOf(file.file) }}" class="b-file-item__link b-file-item__link--comment b-file-item__link--comment js-icon-link">
                                                <span ng-if="file.is_image" class="b-file-item__image-inner b-file-item__image-inner--comment">
                                                    <img ng-src="/chat/thumbnail/36x36/{{file.file}}" alt="" title="" class="b-file-item__image b-file-item__image--comment"/>
                                                </span>
                                                <span ng-if="!file.is_image" class="b-file-item__pdf-text b-file-item__pdf-text--comment">
                                                    .{{ file.extension }}
                                                </span>
                                                <div tooltip-position class="b-tooltip b-tooltip--bottom-arrow b-tooltip--file b-tooltip--mini bottom-arrow-file js-tooltip-cont">
                                                    <div class="b-tooltip__text">{{ file.original_name }} {{ projectChatCtrl.formatDate(file.created_at) }}, <span locale="chat/chat.hk-time"></span></div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-class="{'b-comment-message__date--text-left': projectChatCtrl.user.id != message.user_id}" class="b-comment-message__date">{{ projectChatCtrl.formatDate(message.created_at) }}, <span locale="chat/chat.hk-time"></span></div>
                        </div>
                    </div>
                    <div class="b-comment-message__avatar">
                        <span href="javascript:void(0);" title="" class="b-comment-message__avatar-link">
                            <span class="b-avatar b-avatar--comment-message">
                                <avatar user="message.user" size="30x30" alt="avatar" title="avatar" class-name="b-avatar__image b-avatar__image--comment-message"></avatar>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="projectChatCtrl.error" class="b-comment__error">
                <div class="b-avatar b-avatar--form-comment">
                    <div class="b-avatar__content b-avatar__content--form-comment">!</div>
                </div>
                <div class="b-comment__text">{{ projectChatCtrl.error }}</div>
            </div>
        </perfect-scrollbar>
        <form name="form-comment" class="b-form b-form--comment">
            <div class="b-form__group b-form__group--form-comment">
                <textarea ng-model="projectChatCtrl.text"
                    locale-attr="placeholder"
                    locale-variable="chat/message.placeholder"
                    class="b-input b-input--new-comment"></textarea>
                <button ng-click="projectChatCtrl.send()" ng-disabled="projectChatCtrl.formDisabled" class="b-button b-button--send-comment"><i class="icon-arrow-right"></i>
                </button>
                <ul class="b-file-list b-file-list--form-comment" ng-if="projectChatCtrl.FileUploader.queue.length">
                    <li ng-repeat="item in projectChatCtrl.FileUploader.queue" class="b-file-item b-file-item--comment">
                        <a href="javascript:void(0);" title="" data-tooltip="bottom-arrow-file" class="b-file-item__link b-file-item__link--comment b-file-item__link--comment js-icon-link">
                            <span ng-if="!item.file.is_image" class="b-file-item__pdf-text b-file-item__pdf-text--comment">.{{ item.file.extension }}</span>
                            <span ng-if="item.file.is_image" class="b-file-item__image-inner b-file-item__image-inner--comment">
                                <img ng-src="/chat/thumbnail/36x36/{{item.file.path}}" alt="" title="" class="b-file-item__image b-file-item__image--comment"/>
                            </span>
                            <div tooltip-position class="b-tooltip b-tooltip--bottom-arrow b-tooltip--file b-tooltip--mini bottom-arrow-file js-tooltip-cont">
                                <div class="b-tooltip__text">
                                    {{ item.file.name }} {{ projectChatCtrl.formatDate() }},
                                    <span locale="chat/chat.hk-time"></span>
                                </div>
                            </div>
                        </a>
                        <a ng-click="projectChatCtrl.removeFile(item)" href="javascript:void(0);" title="" class="b-file-item__close-block b-file-item__close-block--comment">
                            <i class="icon-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="b-form__group b-form__group--add-file">
                    <label for="add-file"
                        class="b-label b-label--add-file"
                        locale="chat/chat.add-files"></label>
                    <input type="file" nv-file-select uploader="projectChatCtrl.FileUploader" id="add-file" class="b-input b-input--add-file" />
                </div>
            </div>
        </form>
        <div class="b-task-chat__gradient-block"></div>
        <div class="b-look-file js-look-file">
            <a href="javascript:void(0);" class="b-look-file__link js-close-files-block">
                <i class="icon-back"></i><span locale="chat/chat.back"></span>
            </a>
            <perfect-scrollbar files-list class="b-look-file__wrapper">
                <div ng-repeat="file in projectChatCtrl.ChatService.currentFiles" ng-class="{'b-file-item--pdf': !file.is_image}" class="b-file-item b-file-item--look-file" data-tooltip="bottom-arrow-file">
                    <a ng-class="{'b-file-item__link--pdf b-file-item__link--pdf': !file.is_image}" ng-href="{{ file.is_image ? '' : '/chat/download/' + file.file }}" title="" data-tooltip="bottom-arrow-file" data-toggle="modal" data-target="{{file.is_image ? '#gallery' : '' }}" data-index="{{ projectChatCtrl.ChatService.gallery.indexOf(file.file) }}" class="b-file-item__link b-file-item__link--look-file b-file-item__link--look-file js-icon-link">
                        <span ng-class="{'b-file-item__pdf-text b-file-item__pdf-text--look-file b-file-item__pdf-text--pdf': !file.is_image, 'b-file-item__image-inner b-file-item__image-inner--look-file': file.is_image}">
                            .{{ file.is_image ? '': file.extension }}
                            <img ng-if="file.is_image" ng-src="/chat/thumbnail/30x30/{{file.file}}" alt="" title="" class="b-file-item__image b-file-item__image--look-file"/>
                        </span>
                        <span class="b-file-item__info">
                            <span class="b-file-item__name">{{ file.original_name }}</span>
                            <span class="b-file-item__info-text">
                                <span class="b-file-item__size">{{ file.size }}</span><span class="b-file-item__date">{{ projectChatCtrl.formatDate(file.created_at) }}, <span locale="chat/chat.hk-time"></span></span>
                            </span>
                        </span>
                        <div tooltip-position class="b-tooltip b-tooltip--bottom-arrow b-tooltip--file b-tooltip--mini bottom-arrow-file js-tooltip-cont">
                            <div class="b-tooltip__text">{{ file.original_name }} {{ projectChatCtrl.formatDate(file.created_at) }}, <span locale="chat/chat.hk-time"></span></div>
                        </div>
                    </a>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</aside>