<aside class="b-aside b-aside--project-diary">
    <perfect-scrollbar class="b-project-list b-project-list--project-diary js-task-chat-off" infinite-scroll="projectDiaryCtrl.list()">
        <div class="b-project-diary">
            <div class="b-project-diary__wrapper-title">
                <h2 locale="project/diary.title"></h2>
            </div>
            <ul class="b-project-diary__list">
                <div ng-mouseleave="projectDiaryCtrl.readEvent(event)"
                     ui-view="event"
                     ng-repeat="event in projectDiaryCtrl.events">
                </div>
            </ul>
            <p class="b-project-diary__last-text" locale="project/diary.the-end"></p>
        </div>
    </perfect-scrollbar>
</aside>