<a href="{{ $ctrl.linkToContract() }}"
   target="_blank"
   class="b-brief {{ $ctrl.classes }}"
   locale-attr="title"
   locale-variable="project/contract.link-caption">
    <i class="icon-contract"></i><span locale="project/contract.link-caption"></span>
</a>