<aside class="b-aside"
       ng-if="!projectListCtrl.counters.length && !projectListCtrl.loading && !projectListCtrl.user.is_admin">
    <div class="b-project-menu">
        <div class="b-project-menu__inner js-project-list-scroll">
            <div class="b-project-menu__dividing-line"></div>
            <div class="b-project-menu__description">
                <p class="b-project-menu__caption" locale="project/project.pm-tool-no-projects"></p>
                <a href="/project/create" class="b-project-menu__text" locale="project/project.pm-tool-start-new"></a>
                <ul class="b-project-menu__list">
                    <li class="b-project-menu__item"></li>
                    <li class="b-project-menu__item"></li>
                    <li class="b-project-menu__item"></li>
                    <li class="b-project-menu__item"></li>
                    <li class="b-project-menu__item"></li>
                </ul>
            </div>
        </div>
    </div>
</aside>

<aside class="b-aside b-aside--{{ projectListCtrl.classList }}-menu"
       ng-if="projectListCtrl.counters.length || projectListCtrl.user.is_admin">
    <aside class="b-aside__inner">
        <div class="b-project-menu b-project-menu--project"
             toggle-on-hover
             list="projectListCtrl.classList"
             ng-include="'project-list-inner.template.html'">
        </div>

        <div class="b-project-menu b-project-menu--studio-outer" ui-view="designer-list"></div>
    </aside>
</aside>