<perfect-scrollbar class="b-project-menu__inner b-project-menu__inner--project"
    project-list
    infinite-scroll="projectListCtrl.list()">

    <div class="b-project-list">
        <div class="b-project-list__item b-project-list__item--visible"
             ng-class="{active: projectListCtrl.state.params.projectId == project.id}"
             ng-repeat="project in projectListCtrl.projects"
             ng-if="!projectListCtrl.hideList[project.id]">
            <a ng-click="projectListCtrl.chooseProject(project)"
               href="javascript:void(0);"
               class="b-project-list__link b-project-list__link--{{ project.color }}">
                <span class="b-project-name">
                    <span class="b-project-name__caption">{{ projectListCtrl.getType(project) }}</span>
                    <span class="b-project-name__title">{{ project.name }}</span>
                </span>
                <span class="b-project-color b-project-color--{{ project.color }}">
                    <span class="b-project-color__name">{{ project.short_name }}</span>
                    <span data-tooltip-left="done"
                          class="b-project-percent js-arrow-left-link"
                          project-percent
                          percent="{{ projectListCtrl.getProgress(project) }}"
                          ng-if="projectListCtrl.getDesignersCount(project) <= 1"
                          tooltip-right
                          locale-attr="tooltipText"
                          locale-variable="project/project.pm-tool_done"
                          locale-prefix="{{ projectListCtrl.getProgress(project) || 0 }}%">
                    </span>
                </span>
            </a>

<!--             <a href="{{ project.link[0].link }}" title="Initial brief" class="b-brief b-brief--menu">
                <i class="icon-contract"></i>Initial brief
            </a> -->
        </div>
    </div>

    <div class="b-project-menu__dividing-line"></div>
    <div class="b-project-menu__icon b-project-menu__icon--project">
        <a data-tooltip-left="pending"
           ui-sref="pm.project.pending"
           locale-attr="title"
           locale-variable="project/project.pm-tool-new-projects-caption"
           class="b-project-menu__history b-project-menu__history--project js-arrow-left-link"
           ng-if="projectListCtrl.hasProjectsWithStatus(projectListCtrl.statuses.todo)
           || projectListCtrl.hasProjectsWithStatus(projectListCtrl.statuses.premoderation)">
            <i class="icon-pending-projects"></i>
            <span
              class="b-project-menu__text-project b-project-menu__text-project--project js-project-text"
              locale="project/project.pm-tool-new-projects-caption">
            </span>
        </a>

        <a data-tooltip-left="past"
           ui-sref="pm.project.past"
           locale-attr="title"
           locale-variable="project/project.pm-tool-past-projects-caption"
           class="b-project-menu__history b-project-menu__history--project js-arrow-left-link"
           ng-if="projectListCtrl.hasProjectsWithStatus(projectListCtrl.statuses.done)
           || projectListCtrl.hasArchivedProjects()">
            <i class="icon-smile"></i>
            <span
              class="b-project-menu__text-project b-project-menu__text-project--project js-project-text"
              locale="project/project.pm-tool-past-projects-caption">
            </span>
        </a>
    </div>
</perfect-scrollbar>
