<div class="b-home">
    <h1 class="b-home__title" locale="project/project.pm-tool_home-title"></h1>
    <div class="b-home__text">
        <p locale="project/project.pm-tool_home-description"></p>
    </div>
</div>