<div id="add-task" add-task-validation role="dialog" class="modal popup modal-vertical-align js-valid-popup-form">
    <div role="document" class="b-modal b-modal--add-task js-valid-add-popup"><a href="javascript:void(0);" title="close" data-dismiss="modal" class="b-modal__close b-modal__close--add-task js-valid-add-popup"><i class="icon-close"></i></a>
        <div class="b-modal__content b-modal__content--add-task js-valid-add-popup">
            <h2 class="b-modal__title b-modal__title--add-task">New Task</h2>
            <form name="add_task" class="b-form-add-task js-permutation-default js-validation-form">
                <label for="task-name" class="b-label b-label--form-add-task">
                    <h3>Task Name</h3>
                </label>
                <input ng-model="$ctrl.task.name" type="text" name="task-name" id="task-name" class="b-input b-input--form-add-task js-error js-required-add-task" />
                <label for="group" class="b-label b-label--form-add-task">
                    <h3>Group</h3>
                </label>
                <div class="b-select b-select--form-add-task">
                    <select ng-model="$ctrl.task.group" name="group" group-select id="group" data-placeholder=" " class="js-select-group b-form-add-task__select js-error js-required-add-task">
                        <option value=""></option>
                        <option ng-repeat="task in $ctrl.tasks" value="{{ task.name }}" data-color="{{ $ctrl.colors[$index] }}">
                            {{ task.name }}
                        </option>
                    </select>
                </div>
                <div class="b-form-add-task__select-group-wrapper js-add-group js-hidden-add-task"><a href="javascript:void(0);" title="Add new group" class="b-form-add-task__select-group-link-add js-link-add-group">Add a new group</a>
                    <div class="b-form-add-task__select-group-input js-add-input-group">
                        <label for="new-group" class="b-label b-label--select-group">New Group</label>
                        <input ng-model="$ctrl.newGroup.name" type="text" name="new-group" id="new-group" class="b-input b-input--form-add-task b-input--select-group" /><a ng-click="$ctrl.appendOption()" href="javascript:void(0)" title="Add new group" class="b-button b-button--add-new-group b-button--color js-button-add-group">Add</a>
                    </div>
                </div>
                <label for="assigned" class="b-label b-label--form-add-task">
                    <h3>Assigned to</h3>
                </label>
                <div class="b-select b-select--form-add-task">
                    <select ng-model="$ctrl.task.assigned_id" name="assigned" id="assigned" data-placeholder=" " class="js-select-project b-form-add-task__select js-error js-required-add-task">
                        <option value=""></option>
                        <option ng-repeat="user in $ctrl.users" value="{{ user.id }}" data-avatar=" {{ user.avatar }}">{{ user.first_name }} {{ user.last_name}}</option>
                    </select>
                </div>
                <label for="deadline" class="b-label b-label--form-add-task">
                    <h3>Deadline</h3>
                </label>
                <input ng-model="$ctrl.task.deadline" type="text" name="deadline" id="deadline" class="b-input b-input--form-add-task js-data-mask js-error js-required-add-task" />
                <button ng-click="$ctrl.save(add_task)" name="button-save" id="button-save" class="b-button b-button--color b-button--form-add-task js-link-add-task-popup">Save</button>
            </form>
        </div>
    </div>
</div>