<li class="b-menu__item">
    <a href="/pm" class="b-menu__link b-menu__link--color" js-menu>
        <span class="b-menu__wrapper" ng-class="{'b-menu__wrapper--active': $ctrl.unread}">
            <span class="b-menu__number" ng-if="$ctrl.unread">
                {{ $ctrl.unread }}
            </span>
            <i class="icon-bell"></i>
        </span>
        <span locale="nav.pm"></span>
    </a>
    <div class="b-drop-down b-drop-down--project b-drop-down--top-arrow" ng-if="$ctrl.unread">
        <div class="b-last-project">
            <ul class="b-last-project__list">
                <li class="b-latest-message b-latest-message--project" ng-repeat="event in $ctrl.events">
                    <a href="/pm#!/project/{{ event.task.project_id }}/designer/{{ event.task.user_id }}/chat/{{ event.task.id }}"
                       ng-click="$ctrl.activeTask(event.task)"
                       ng-mouseleave="$ctrl.readEvent(event.id)"
                       title="{{ event.creator.first_name + ' ' + event.creator.last_name }}"
                       class="b-latest-message__link b-latest-message__link--project">
                        <span class="b-latest-message__images">
                            <span class="b-latest-message__image-inner">
                                <span class="b-avatar b-avatar--latest-message">
                                    <avatar user="event.creator" size="60x60" alt="avatar" title="avatar" class-name="b-avatar__image b-avatar__image--latest-message"></avatar>
                                </span>
                                <span ng-if="event.type == $ctrl.types.newmessage" class="b-latest-message__icon b-latest-message__icon--message">
                                    <i class="icon-message"></i>
                                </span>
                                <span ng-if="event.type == $ctrl.types.taskstatus" class="b-latest-message__icon b-latest-message__icon--star">
                                    <i class="icon-updates"></i>
                                </span>
                                <span ng-if="event.type == $ctrl.types.deadline">
                                    <i></i>
                                </span>
                            </span>
                        </span><span class="b-latest-message__info b-latest-message__info--project">
                            <span class="b-latest-message__content">
                                <span class="b-latest-message__name">
                                    {{ event.creator.first_name + ' ' + event.creator.last_name }}
                                </span>
                                <span class="b-latest-message__text">{{ event.action }}</span>
                                <span class="b-latest-message__name">{{ event.target }}</span>
                                <span class="b-latest-message__cursive">{{ event.message }}</span>
                            </span>
                            <span class="b-latest-message__date">{{ $ctrl.formatDate(event.created_at) }}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</li>