<perfect-scrollbar class="b-tool-project" style="overflow: hidden;">
    <div class="b-tool-project__top">
        <div class="b-tool-project__title">{{ projectTaskCtrl.project.name }}</div>
        <div class="b-tool-project__link-top">
             <contract-link></contract-link>
        </div>
    </div>

    <div ng-if="!projectTaskCtrl.loading" class="b-todo" ng-repeat="taskList in projectTaskCtrl.taskLists">
        <ul class="b-todo__header-list">
            <li class="b-todo__header-item">{{ taskList.name }}</li>
            <li class="b-todo__header-item"
              locale="project__task.pm-tool-target-deadline"></li>
            <li class="b-todo__header-item"
              locale="project__task.pm-tool-assigned-to"></li>
        </ul>
        <ul class="b-todo__todo-list">
            <task ng-repeat="task in taskList.children"
                  ng-if="!projectTaskCtrl.hideList[task.id]"
                  task="task">
            </task>
        </ul>
    </div>

<!--     <div class="b-tool-project__add">
        <a href="javascript:void(0);" title="Add task" class="b-tool-project__link-add">
            <span class="b-tool-project__plus">
                <i class="icon-plus"></i>
            </span>
            Add task
        </a>
    </div>
    <br> -->
    <div ng-if="!projectTaskCtrl.loading" class="b-tool-project__add b-tool-project__add--team">
        <span class="b-tool-project__text"
              locale="project__task.pm-tool-filter"></span>
        <a href="javascript: void(0);"
           ng-repeat="status in projectTaskCtrl.taskStatuses"
           ng-click="projectTaskCtrl.status(status.index)"
           ng-class="{selected: projectTaskCtrl.currentStatus == status.index}"
           title="Todo"
           class="b-tool-project__text"
           style="margin-left: 10px;"
           locale="project__task.statuses.{{ status.index }}">
        </a>
        <a ng-if="projectTaskCtrl.project.is_prepaid" href="" data-target="#add-task" title="Add task" data-toggle="modal" class="b-tool-project__text b-tool-project__text--link-add"
          locale="project__task.pm-tool-add-task">
        </a>
        <a ng-if="projectTaskCtrl.project.is_prepaid" href="javascript:void(0)"
          data-target="#delete-task" title="Delete task" data-toggle="modal" class="b-tool-project__text b-tool-project__text--link-delete"
          locale="project__task.pm-tool-delete-task">
        </a>
    </div>
    
    <loading-circle ng-if="projectTaskCtrl.loading"></loading-circle>
</peffect-scrollbar>