<ul ng-if="projectPendingCtrl.invitedProjectsWithoutOffer.length"
    class="b-todo__header-list b-todo__header-list--pending">
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-pending-new-projects"></li>
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-pending-till"></li>
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-pending-project-owner"></li>
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-pending-budget"></li>
</ul>
<ul class="b-todo__todo-list b-todo__todo-list--pending">
    <li ng-repeat="project in projectPendingCtrl.invitedProjectsWithoutOffer"
        ng-if="project.invite.length"
        class="b-todo__todo-item b-todo__todo-item--pending js-pending-project"
        ng-click="projectPendingCtrl.redirectToInvite(project)">
        <div data-href="javascript:void(0);" title="" class="b-todo__link b-todo__link--pending js-pending-project undefined">
            <div class="b-todo__name b-todo__name--pending js-pending-project">
                <div class="b-todo__name-text">{{ project.name }}</div>
            </div>

            <div class="b-todo__deadline b-todo__deadline--pending js-pending-project">
                {{ project.tillDate }}
            </div>

            <div class="b-todo__assigned b-todo__assigned--pending js-pending-project">
                <a href="javascript:void(0);" title="project-owner" class="b-todo__project-owner">
                    <span class="b-todo__image-inner">
                        <span class="b-avatar b-avatar--project">
                            <avatar user="project.owner" size="22x22" class-name="b-avatar__image b-avatar__image--project"></avatar>
                        </span>
                    </span>
                    <span class="b-todo__assigned-text b-todo__assigned-text--pending">{{ project.owner.first_name }}</span>
                </a>
            </div>
            <div class="b-todo__budget">
                <div class="b-todo__sum">
                    <span ng-if="project.budget_total">
                        {{ project.budget_total }} {{ project.currency.name }}
                    </span>
                    <span ng-if="!project.budget_total"
                        locale="project/project.pm-tool-not-specified">
                    </span>
                </div>
            </div>
            <div ng-if="!project.invite[0].offer_count && !project.invite[0].is_outdated"
                 class="b-todo__link-to">
                <a href="/project/invite/{{ project.id }}" title="page" class="b-todo__other-page">
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- <div ng-if="!project.invite[0].offer_count && !project.invite[0].is_outdated"
                 class="b-todo__link-del">
                <a href="javascript:void(0);"
                   ng-click="$event.stopImmediatePropagation(); projectPendingCtrl.decline(project.id)"
                   title="delete"
                   class="b-todo__del js-pending-project-delete">
                    <i class="icon-close"></i>
                </a>
            </div> -->
        </div>
    </li>
</ul>