<perfect-scrollbar class="b-tool-project b-tool-project--pending" style="overflow: hidden;">
    <div class="b-tool-project__top b-tool-project__top--pending">
        <div class="b-tool-project__title b-tool-project__title--pending"
            locale="project/project.pm-tool-pending-new-projects-title"></div>
        <div class="b-tool-project__title-text">
            <p locale="project/project.pm-tool-pending-title"></p>
        </div>
    </div>
    <div class="b-todo b-todo--pending">
        <div ng-include="'invited-without-offer.template.html'"
             ng-if="projectPendingCtrl.invitedProjectsWithoutOffer.length"
             class="pending-list">
        </div>

        <div ng-include="'invited-with-offer.template.html'"
             ng-if="projectPendingCtrl.invitedProjectsWithOffer.length"
             class="pending-list">
        </div>

        <div ng-include="'owned.template.html'"
             ng-if="projectPendingCtrl.ownedProjectsTodo.length"
             class="pending-list">
        </div>
        <div ng-include="'premoderation.template.html'"
             ng-if="projectPendingCtrl.ownedProjectsPremoderation.length"
             class="pending-list">
    </div>
</perfect-scrollbar>
