<ul ng-if="projectPendingCtrl.ownedProjectsPremoderation.length" class="b-todo__header-list b-todo__header-list--pending">
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-premoderation-processing"></li>
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-premoderation-till"></li>
    <li class="b-todo__header-item b-todo__header-item--pending"
        locale="project/project.pm-tool-premoderation-status"></li>
</ul>

<ul class="b-todo__todo-list b-todo__todo-list--pending">
    <li ng-repeat="project in projectPendingCtrl.ownedProjectsPremoderation"
        class="b-todo__todo-item b-todo__todo-item--pending">
        <div data-href="javascript:void(0);" title="" class="b-todo__link b-todo__link--pending undefined">
            <div class="b-todo__name b-todo__name--pending">
                <div class="b-todo__name-text">{{ project.name }}</div>
            </div>

            <div class="b-todo__deadline b-todo__deadline--pending">

            </div>

            <div class="b-todo__assigned b-todo__assigned--pending">
                <div class="b-todo__project-owner">
                    <div class="b-todo__icon b-todo__icon--pending">
                        <i class="icon-waiting-designer"></i>
                    </div>
                    <div class="b-todo__assigned-text b-todo__assigned-text--pending"
                        locale="project/project.pm-tool-premoderation-under-review">
                    </div>
                </div>
            </div>
<!--                     <div class="b-todo__brief">
                <a href="{{ project.link[0].link }}" title="" target="_blank" class="b-brief b-brief--pending js-brief">
                    <i class="icon-contract"></i>
                </a>
            </div>
-->
        </div>
    </li>
</ul>