<div ng-if="$ctrl.ChatService.currentFiles.length > 0" id="gallery" tabindex="-1" role="dialog" class="modal popup modal-vertical-align" slick-slider>
    <div role="document" class="b-modal b-modal--gallery">
        <a href="javascript:void(0);" title="Закрыть" data-dismiss="modal" class="b-modal__close b-modal__close--gallery">
            <i class="icon-close"></i>
        </a>
        <div class="b-modal__content b-modal__content--gallery">
            <div class="b-modal-gallery">
                <div class="b-modal-gallery__carousel">
                    <div class="b-modal-gallery__carousel-inner js-slick-slider">
                        <div ng-repeat="file in $ctrl.ChatService.currentFiles | filter: $ctrl.imageFilter" class="b-modal-gallery__item">
                            <img ng-src="/chat/show/{{file.file}}" alt="" title="" class="b-modal-gallery__image" />
                            <div class="b-modal-gallery__download">
                                <a href="/chat/download/{{file.file}}" title="download" class="b-modal-gallery__link">
                                    Download<i class="icon-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>