<div class="b-project-list b-project-list--studio">
    <div class="b-project-list__item b-project-list__item--studio"
         ng-class="{'b-project-list__item--active':
            projectDesignerCtrl.state.params.designerId == designer.id &&
            projectDesignerCtrl.designers.length > 1}"
         ng-repeat="designer in projectDesignerCtrl.designers">

        <div class="b-project-studio">
            <a ui-sref="pm.project.show.designer({designerId: designer.id})" title="" class="b-project-studio__link">
                <span class="b-project-studio__image">
                    <span class="b-avatar b-avatar--studio">
                        <avatar user="designer" size="30x30" alt="avatar" title="avatar" class-name="b-avatar__image b-avatar__image--studio"></avatar>
                    </span>
                </span>

                <span class="b-project-studio__name">
                    {{ designer.first_name + ' ' + designer.last_name }}
                </span>

                <span data-tooltip-left="done"
                      class="b-project-percent"
                      project-percent
                      percent="{{ projectDesignerCtrl.progress[designer.id] }}"
                      tooltip-right
                      locale-attr="tooltipText"
                      locale-variable="project/project.pm-tool_done"
                      locale-prefix="{{ projectDesignerCtrl.progress[designer.id] || 0 }}%">
                </span>
            </a>
            <contract-link designer-id="designer.id" classes="b-brief--studio"></contract-link>
        </div>
    </div>
</div>