<perfect-scrollbar class="b-tool-project b-tool-project--pending" style="overflow: hidden;">
    <div class="b-tool-project__top b-tool-project__top--pending">
        <div class="b-tool-project__title b-tool-project__title--pending"
            locale="project/project.pm-tool-archive-title"></div>
        <div class="b-tool-project__title-text">
            <p locale="project/project.pm-tool-archive-description"></p>
        </div>
    </div>
    <div class="b-todo b-todo--pending js-project-todo-pending">
        <ul class="b-todo__header-list b-todo__header-list--archive b-todo__header-list--pending">
            <li class="b-todo__header-item b-todo__header-item--archive b-todo__header-item--pending"
                locale="project/project.pm-tool-past-project-name"></li>
            <li class="b-todo__header-item b-todo__header-item--archive b-todo__header-item--pending"
                locale="project/project.pm-tool-past-closed-at"></li>
            <li class="b-todo__header-item b-todo__header-item--archive b-todo__header-item--pending"
                locale="project/project.pm-tool-past-with"></li>
            <!-- <li class="b-todo__header-item b-todo__header-item--archive b-todo__header-item--pending">Brief</li> -->
        </ul>
        <ul class="b-todo__todo-list b-todo__todo-list--pending js-link-diary">
            <li class="b-todo__todo-item b-todo__todo-item--archive b-todo__todo-item--pending"
                ui-sref="pm.project.past.show({projectId: project.id})"
                ng-repeat="project in projectPastCtrl.projects">
                <div title=""
                     class="b-todo__link b-todo__link--archive b-todo__link--pending undefined"
                     ng-class="{active: projectPastCtrl.state.params.projectId == project.id}">
                    <div class="b-todo__name b-todo__name--archive b-todo__name--pending">
                        <div class="b-todo__name-text">
                            {{ project.name }}
                        </div>
                    </div>
                    <div class="b-todo__deadline b-todo__deadline--archive b-todo__deadline--pending">
                        {{ projectPastCtrl.formatDate(project.updated_at) }}
                    </div>
                    <div class="b-todo__assigned b-todo__assigned--archive b-todo__assigned--pending">
                        <a href="javascript:void(0);" title="project-owner" class="b-todo__project-owner">
                            <span class="b-todo__image-inner">
                                <span class="b-avatar b-avatar--project">
                                    <avatar class-name="b-avatar__image b-avatar__image--project"
                                            size="22x22"
                                            user="project.owner">
                                    </avatar>
                                </span>
                            </span>
                            <span class="b-todo__assigned-text b-todo__assigned-text--pending">
                                {{ project.owner.first_name + ' ' + project.owner.last_name }}
                            </span>
                        </a>
                    </div>
                    <!-- <div ng-if="projectPastCtrl.inTodo(project)" class="b-todo__link-del">
                        <a href="javascript:void(0)"
                           title="resume"
                           class="b-todo__del js-pending-project-delete"
                           ng-click="$event.stopPropagation(); projectPastCtrl.resume(project)">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div> -->
<!--                     <div class="b-todo__brief">
                        <a href="{{ project.link[0].link }}"
                            title=""
                            target="_blank"
                            class="b-brief b-brief--pending js-brief">
                            <i class="icon-contract"></i>
                        </a>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</perfect-scrollbar>
