<li class="b-todo__todo-item">
    <div task-chat
         ng-click="$ctrl.chooseTask()"
         ng-class="{active: $ctrl.state.params.taskId == $ctrl.task.id}"
         class="b-todo__link js-task-chat-toggle">
        <div class="b-todo__name">
            <task-controls task="$ctrl.task"></task-controls>
            <div class="b-todo__name-text">{{ $ctrl.task.name }}</div>
        </div>
        <div class="b-todo__deadline" like="{{ $ctrl.formatDate() }}">
            {{ $ctrl.formatDealineDate() }}
        </div>
        <div class="b-todo__assigned">
            <div class="b-todo__image-inner">
                <div class="b-avatar b-avatar--project">
                    <avatar user="$ctrl.task.assigned"
                            size="30x30"
                            alt="avatar"
                            title="avatar"
                            class-name="b-avatar__image b-avatar__image--project">
                    </avatar>
                </div>
            </div>
            <div class="b-todo__assigned-text">
                {{ $ctrl.task.assigned.first_name }} {{ $ctrl.task.assigned.last_name }}
            </div>
        </div>
    </div>
</li>
