<div id="delete-task" delete-task-validation role="dialog" class="modal popup modal-vertical-align js-valid-popup-form">
    <div role="document" class="b-modal b-modal--delete-task js-valid-delete-popup"><a href="javascript:void(0);" title="close" data-dismiss="modal" class="b-modal__close b-modal__close--delete-task js-valid-delete-popup"><i class="icon-close"></i></a>
        <div class="b-modal__content b-modal__content--delete-task js-valid-delete-popup">
            <form name="delete-task" class="b-form-delete-task js-validation-form">
                <div ng-repeat="task in $ctrl.tasks">
                    <div class="b-checkbox js-delete-tasks">
                        <input type="checkbox" ng-attr-id="checkbox-group-{{ $index }}-delete-task-{{ $index }}" ng-attr-name="checkbox-group-{{ $index }}-delete-task-{{ $index }}" class="b-checkbox__item required-field" />
                        <label ng-click="$ctrl.toggleTask(task.id)" ng-attr-for="checkbox-group-{{ $index }}-delete-task-{{ $index }}" class="b-checkbox__label"><i class="icon-mark"></i>{{ task.name }}</label>
                    </div>

                    <div class="b-form-delete-task__group-task">
                        <div ng-repeat="child in task.children" class="b-checkbox js-delete-task">
                            <input type="checkbox" ng-attr-id="checkbox-{{ $parent.$index }}-delete-task-{{ $index }}" ng-attr-name="checkbox-{{ $parent.$index }}-delete-task-{{ $index }}" class="b-checkbox__item required-field" />
                            <label ng-click="$ctrl.toggleTask(child.id)" ng-attr-for="checkbox-{{ $parent.$index }}-delete-task-{{ $index }}" class="b-checkbox__label"><i class="icon-mark"></i>{{ child.name }}</label>
                        </div>
                    </div>
                </div>

                </div><a href="" data-target="#confirm-delete-task" data-toggle="modal" title="Delete the tasks?" class="b-button b-button--color b-button--form-delete-task js-link-delete-task-popup">Delete Tasks</a>
                <input type="submit" id="submit-delete-task" value="Delete"
                class="b-button b-button--form-delete-task-submit" />
            </form>
        </div>
    </div>
</div>

<div id="confirm-delete-task" role="dialog" class="modal popup modal-vertical-align js-valid-popup-form">
    <div role="document" class="b-modal b-modal--confirm-delete-task"><a href="javascript:void(0);" title="close" data-dismiss="modal" class="b-modal__close b-modal__close--confirm-delete-task"><i class="icon-close"></i></a>
        <div class="b-modal__content b-modal__content--confirm-delete-task">
            <div class="b-modal-confirm-delete-task">
                <p class="b-modal-confirm-delete-task__text">Are you sure you want to delete the tasks?</p><a ng-click="$ctrl.delete()" href="" title="Delete the tasks?!" class="b-button b-button--color b-button--confirm-delete-task">Delete</a>
            </div>
        </div>
    </div>
</div>