<main class="b-main b-main--home">
    <div class="b-home">
        <h2 style="text-align: center;">Create Project</h2><br>
        <form name="projectForm" ng-submit="projectForm.$valid && createCtrl.submit()" class="b-form">
            <div class="b-form__group b-form__group--form-comment">
                <input placeholder="Name*" type="text" ng-model="createCtrl.project.name" class="b-input b-input--new-comment" required><hr>

                <input placeholder="Short Name" type="text" ng-model="createCtrl.project.short_name" class="b-input b-input--new-comment"><hr>

                <input placeholder="Link" type="text" ng-model="createCtrl.project.link" class="b-input b-input--new-comment"><hr>

                <input type="color" ng-model="createCtrl.project.color" class="b-input b-input--new-comment" style="width: 5%"><hr>

                <textarea placeholder="Description" ng-model="createCtrl.project.description" class="b-input b-input--new-comment"></textarea><br>

                <button ng-disabled="projectForm.$invalid" class="b-button b-button--send-comment" style="width: 20%; border-radius: 5px; height: 30px; font-size: 15px;">Сохранить</button>
            </div>
        </form>
    </div>
</main>