<div class="b-todo__icon">
    <a href="javascript:void(0);"
       data-tooltip="status-change"
       title="All approved"
       class="b-todo__icon"
       ng-if="$ctrl.inProgress() && !$ctrl.isAssigned()">
          <i class="icon-waiting-designer"></i>
    </a>
    <div class="b-tooltip b-tooltip--bottom-arrow b-tooltip--status-change js-tooltip-cont status-change"
         style="display: none;"
         ng-if="$ctrl.inProgress() && !$ctrl.isAssigned()"
         tooltip-position>
        <div class="b-tooltip__text">In progress</div>
    </div>

    <a href="javascript:void(0);"
       data-tooltip="status-change"
       title="All approved"
       class="b-todo__icon"
       ng-if="$ctrl.inProgress() && $ctrl.isAssigned()"
       ng-click="$ctrl.review(); $event.stopPropagation();">
        <i data-tooltip="status-change" class="icon-mark js-icon-link"></i>
    </a>
    <div class="b-tooltip b-tooltip--bottom-arrow b-tooltip--status-change js-tooltip-cont status-change"
         style="display: none;"
         ng-if="$ctrl.inProgress() && $ctrl.isAssigned()"
         tooltip-position>
        <div class="b-tooltip__text">Mark As Done!</div>
    </div>

    <a href="javascript:void(0);"
       data-tooltip="status-change"
       title="All approved"
       class="b-todo__icon"
       ng-if="$ctrl.inReview() && $ctrl.canReview()">
        <span class="b-todo__number-reviews">
          {{ $ctrl.task.reviews_count + 1 }}nd
        </span>
        <i data-tooltip="status-change" class="icon-mark js-icon-link"></i>
    </a>
    <div class="b-tooltip b-tooltip--bottom-arrow b-tooltip--status-change js-tooltip-cont status-change"
         style="display: none;"
         ng-if="$ctrl.inReview() && $ctrl.canReview()"
         tooltip-position>
        <a href="javascript:void(0);" title="" class="b-tooltip__link" ng-click="$ctrl.approve(); $event.stopPropagation();">
            <i class="icon-smile"></i>Approve
        </a>
        <a ng-if="$ctrl.canDecline()"
           href="javascript:void(0);" title="" class="b-tooltip__link" ng-click="$ctrl.decline(); $event.stopPropagation();">
            <i class="icon-review"></i>Send for review
        </a>
    </div>

    <a href="javascript:void(0);"
       data-tooltip="bottom-arrow-mini"
       title="Waiting approval"
       class="b-todo__icon"
       ng-if="$ctrl.inReview() && !$ctrl.canReview()">
        <i data-tooltip="bottom-arrow-mini" class="icon-waiting-client js-icon-link"></i>
    </a>
    <div class="b-tooltip b-tooltip--bottom-arrow b-tooltip--mini bottom-arrow-mini js-tooltip-cont"
         style="display: none;"
         ng-if="$ctrl.inReview() && !$ctrl.canReview()"
         tooltip-position>
        <div class="b-tooltip__text">Waiting approval</div>
    </div>

    <a href="javascript:void(0);"
       data-tooltip="status-change"
       title="Done"
       class="b-todo__icon"
       ng-if="$ctrl.inDone()">
        <i data-tooltip="status-change"
           class="icon-mark js-icon-link"
           style="color: rgba(0, 0, 0, .2) ! important;">
        </i>
    </a>
    <div class="b-tooltip b-tooltip--bottom-arrow b-tooltip--mini bottom-arrow-mini js-tooltip-cont"
         style="display: none;"
         ng-if="$ctrl.inDone()"
         tooltip-position>
        <div class="b-tooltip__text">Done</div>
    </div>
</div>